---
interface Feature {
  name: string;
  description: string;
  iconSVG: string;
}

interface Props {
  superTitle?: string;
  title: string;
  subTitle?: string;
  features: Feature[];
}

const { superTitle, title, subTitle, features } = Astro.props;
---

<div class='bg-white py-24 sm:py-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <div class='mx-auto max-w-2xl lg:text-center'>
      {
        superTitle && (
          <h2 class='text-base/7 font-semibold text-primary-500'>
            {superTitle}
          </h2>
        )
      }
      <p
        class='mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance'
      >
        {title}
      </p>
      {subTitle && <p class='mt-6 text-lg/8 text-gray-600'>{subTitle}</p>}
    </div>
    <div class='mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl'>
      <dl
        class='grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16'
      >
        {
          features.map((feature) => (
            <div class='relative pl-16'>
              <dt class='text-base/7 font-semibold text-gray-900'>
                <div class='absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-primary-500'>
                  <Fragment set:html={feature.iconSVG} />
                </div>
                {feature.name}
              </dt>
              <dd class='mt-2 text-base/7 text-gray-600'>
                {feature.description}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
